In [130]:
import pandas as pd
import numpy as np
import scipy.stats as stats
import matplotlib.pyplot as plt
import geopandas
import seaborn as sns
from mpl_toolkits.axes_grid1.inset_locator import inset_axes
from sklearn.linear_model import LinearRegression

In [131]:
df = pd.read_excel('sales_annual_a.xlsx', sheet_name='Total Electric Industry',header=None)

In [132]:
df.head(9)

,0,1,2,3,4,5,6,7,8,9,...,12,13,14,15,16,17,18,19,20,21
0,NaN,NaN,RESIDENTIAL,NaN,NaN,NaN,COMMERCIAL,NaN,NaN,NaN,...,NaN,NaN,TRANSPORTATION,NaN,NaN,NaN,TOTAL,NaN,NaN,NaN
1,NaN,NaN,Revenues,Sales,Customers,Price,Revenues,Sales,Customers,Price,...,Customers,Price,Revenues,Sales,Customers,Price,Revenues,Sales,Customers,Price
2,Year,STATE,Thousand Dollars,Megawatthours,Count,Cents/kWh,Thousand Dollars,Megawatthours,Count,Cents/kWh,...,Count,Cents/kWh,Thousand Dollars,Megawatthours,Count,Cents/kWh,Thousand Dollars,Megawatthours,Count,Cents/kWh
3,2021,AK,469886,2083911,292451,22.55,501658,2558649,56005,19.61,...,1135,16.85,0,0,0,0,1195132,5969339,349591,20.02
4,2021,AL,4092368,31585153,2308226,12.96,2586968,21844283,376180,11.84,...,7233,6.33,0,0,0,0,8713442,85585166,2691639,10.18
5,2021,AR,2131723,18918015,1436246,11.27,1101412,11516908,201408,9.56,...,36628,6.57,28,205,2,13.56,4429965,48663142,1674284,9.1
6,2021,AZ,4655903,37130339,2953823,12.54,3098754,29990064,335377,10.33,...,7548,6.79,981,10515,2,9.33,8711850,81219990,3296750,10.73
7,2021,CA,20604392,90284143,13883994,22.82,20861069,108761594,1750923,19.18,...,149389,14.82,73215,620799,12,11.79,48589099,247249865,15784318,19.65
8,2021,CO,2696118,20625005,2443109,13.07,2232288,20584470,388601,10.84,...,15287,8.01,8362,88576,1,9.44,6141929,56351209,2846998,10.9

In [133]:
df_residential = df.iloc[3:,0:6]

In [134]:
columns = ['Year','State','Revenue','Sales','Number of Customers','Price']
df_residential.columns = columns

In [135]:
df_residential['Sector'] = 'Residential'
df_residential

     Year State    Revenue       Sales Number of Customers  Price       Sector
3    2021    AK     469886     2083911              292451  22.55  Residential
4    2021    AL    4092368    31585153             2308226  12.96  Residential
5    2021    AR    2131723    18918015             1436246  11.27  Residential
6    2021    AZ    4655903    37130339             2953823  12.54  Residential
7    2021    CA   20604392    90284143            13883994  22.82  Residential
..    ...   ...        ...         ...                 ...    ...          ...
622  2010    WA    2805591    34906926             2825281   8.04  Residential
623  2010    WI    2820621    22299493             2594698  12.65  Residential
624  2010    WV    1094174    12442583              867948   8.79  Residential
625  2010    WY     239198     2727201              257447   8.77  Residential
626  2010    US  166778041  1445708403           125717935  11.54  Residential

[624 rows x 7 columns]

In [136]:
df.drop([2,3,4,5], axis = 1,inplace=True)

In [137]:
df

,0,1,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21
0,NaN,NaN,COMMERCIAL,NaN,NaN,NaN,INDUSTRIAL,NaN,NaN,NaN,TRANSPORTATION,NaN,NaN,NaN,TOTAL,NaN,NaN,NaN
1,NaN,NaN,Revenues,Sales,Customers,Price,Revenues,Sales,Customers,Price,Revenues,Sales,Customers,Price,Revenues,Sales,Customers,Price
2,Year,STATE,Thousand Dollars,Megawatthours,Count,Cents/kWh,Thousand Dollars,Megawatthours,Count,Cents/kWh,Thousand Dollars,Megawatthours,Count,Cents/kWh,Thousand Dollars,Megawatthours,Count,Cents/kWh
3,2021,AK,501658,2558649,56005,19.61,223588,1326779,1135,16.85,0,0,0,0,1195132,5969339,349591,20.02
4,2021,AL,2586968,21844283,376180,11.84,2034105,32155730,7233,6.33,0,0,0,0,8713442,85585166,2691639,10.18
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
622,2010,WA,2125160,28833281,353330,7.37,1085311,26632814,27970,4.08,516,6949,6,7.42,6016578,90379970,3206587,6.66
623,2010,WI,2296381,23001117,338406,9.98,1606232,23451807,4496,6.85,0,0,0,0,6723234,68752417,2937600,9.78
624,2010,WV,610027,7961906,137209,7.66,681014,11622934,12348,5.86,365,4380,1,8.33,2385580,32031803,1017506,7.45
625,2010,WY,320135,4317140,59642,7.42,501285,10069117,8933,4.98,0,0,0,0,1060618,17113458,326022,6.2
626,2010,US,135553746,1330199364,17674338,10.19,65772007,971221189,747747,6.77,814346,7712412,239,10.56,368918140,3754841368,144140259,9.83

In [138]:
df_commercial = df.iloc[3:,0:6]

In [139]:
df_commercial

        0   1          6           7         8      9
3    2021  AK     501658     2558649     56005  19.61
4    2021  AL    2586968    21844283    376180  11.84
5    2021  AR    1101412    11516908    201408   9.56
6    2021  AZ    3098754    29990064    335377  10.33
7    2021  CA   20861069   108761594   1750923  19.18
..    ...  ..        ...         ...       ...    ...
622  2010  WA    2125160    28833281    353330   7.37
623  2010  WI    2296381    23001117    338406   9.98
624  2010  WV     610027     7961906    137209   7.66
625  2010  WY     320135     4317140     59642   7.42
626  2010  US  135553746  1330199364  17674338  10.19

[624 rows x 6 columns]

In [140]:

df_commercial.columns = columns
df_commercial['Sector'] = 'Commercial'
df_commercial

     Year State    Revenue       Sales Number of Customers  Price      Sector
3    2021    AK     501658     2558649               56005  19.61  Commercial
4    2021    AL    2586968    21844283              376180  11.84  Commercial
5    2021    AR    1101412    11516908              201408   9.56  Commercial
6    2021    AZ    3098754    29990064              335377  10.33  Commercial
7    2021    CA   20861069   108761594             1750923  19.18  Commercial
..    ...   ...        ...         ...                 ...    ...         ...
622  2010    WA    2125160    28833281              353330   7.37  Commercial
623  2010    WI    2296381    23001117              338406   9.98  Commercial
624  2010    WV     610027     7961906              137209   7.66  Commercial
625  2010    WY     320135     4317140               59642   7.42  Commercial
626  2010    US  135553746  1330199364            17674338  10.19  Commercial

[624 rows x 7 columns]

In [141]:
df

,0,1,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21
0,NaN,NaN,COMMERCIAL,NaN,NaN,NaN,INDUSTRIAL,NaN,NaN,NaN,TRANSPORTATION,NaN,NaN,NaN,TOTAL,NaN,NaN,NaN
1,NaN,NaN,Revenues,Sales,Customers,Price,Revenues,Sales,Customers,Price,Revenues,Sales,Customers,Price,Revenues,Sales,Customers,Price
2,Year,STATE,Thousand Dollars,Megawatthours,Count,Cents/kWh,Thousand Dollars,Megawatthours,Count,Cents/kWh,Thousand Dollars,Megawatthours,Count,Cents/kWh,Thousand Dollars,Megawatthours,Count,Cents/kWh
3,2021,AK,501658,2558649,56005,19.61,223588,1326779,1135,16.85,0,0,0,0,1195132,5969339,349591,20.02
4,2021,AL,2586968,21844283,376180,11.84,2034105,32155730,7233,6.33,0,0,0,0,8713442,85585166,2691639,10.18
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
622,2010,WA,2125160,28833281,353330,7.37,1085311,26632814,27970,4.08,516,6949,6,7.42,6016578,90379970,3206587,6.66
623,2010,WI,2296381,23001117,338406,9.98,1606232,23451807,4496,6.85,0,0,0,0,6723234,68752417,2937600,9.78
624,2010,WV,610027,7961906,137209,7.66,681014,11622934,12348,5.86,365,4380,1,8.33,2385580,32031803,1017506,7.45
625,2010,WY,320135,4317140,59642,7.42,501285,10069117,8933,4.98,0,0,0,0,1060618,17113458,326022,6.2
626,2010,US,135553746,1330199364,17674338,10.19,65772007,971221189,747747,6.77,814346,7712412,239,10.56,368918140,3754841368,144140259,9.83

In [142]:
df.drop([6,7,8,9], axis = 1,inplace=True)

In [143]:
df

,0,1,10,11,12,13,14,15,16,17,18,19,20,21
0,NaN,NaN,INDUSTRIAL,NaN,NaN,NaN,TRANSPORTATION,NaN,NaN,NaN,TOTAL,NaN,NaN,NaN
1,NaN,NaN,Revenues,Sales,Customers,Price,Revenues,Sales,Customers,Price,Revenues,Sales,Customers,Price
2,Year,STATE,Thousand Dollars,Megawatthours,Count,Cents/kWh,Thousand Dollars,Megawatthours,Count,Cents/kWh,Thousand Dollars,Megawatthours,Count,Cents/kWh
3,2021,AK,223588,1326779,1135,16.85,0,0,0,0,1195132,5969339,349591,20.02
4,2021,AL,2034105,32155730,7233,6.33,0,0,0,0,8713442,85585166,2691639,10.18
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
622,2010,WA,1085311,26632814,27970,4.08,516,6949,6,7.42,6016578,90379970,3206587,6.66
623,2010,WI,1606232,23451807,4496,6.85,0,0,0,0,6723234,68752417,2937600,9.78
624,2010,WV,681014,11622934,12348,5.86,365,4380,1,8.33,2385580,32031803,1017506,7.45
625,2010,WY,501285,10069117,8933,4.98,0,0,0,0,1060618,17113458,326022,6.2
626,2010,US,65772007,971221189,747747,6.77,814346,7712412,239,10.56,368918140,3754841368,144140259,9.83

In [144]:
df_industrial = df.iloc[3:,0:6]

In [145]:
df_industrial

       0   1         10         11      12     13
3    2021  AK    223588    1326779    1135  16.85
4    2021  AL   2034105   32155730    7233   6.33
5    2021  AR   1196803   18228014   36628   6.57
6    2021  AZ    956213   14089072    7548   6.79
7    2021  CA   7050423   47583329  149389  14.82
..    ...  ..       ...        ...     ...    ...
622  2010  WA   1085311   26632814   27970   4.08
623  2010  WI   1606232   23451807    4496   6.85
624  2010  WV    681014   11622934   12348   5.86
625  2010  WY    501285   10069117    8933   4.98
626  2010  US  65772007  971221189  747747   6.77

[624 rows x 6 columns]

In [146]:
df_industrial.columns = columns
df_industrial['Sector'] = 'Industrial'
df_industrial

     Year State   Revenue      Sales Number of Customers  Price      Sector
3    2021    AK    223588    1326779                1135  16.85  Industrial
4    2021    AL   2034105   32155730                7233   6.33  Industrial
5    2021    AR   1196803   18228014               36628   6.57  Industrial
6    2021    AZ    956213   14089072                7548   6.79  Industrial
7    2021    CA   7050423   47583329              149389  14.82  Industrial
..    ...   ...       ...        ...                 ...    ...         ...
622  2010    WA   1085311   26632814               27970   4.08  Industrial
623  2010    WI   1606232   23451807                4496   6.85  Industrial
624  2010    WV    681014   11622934               12348   5.86  Industrial
625  2010    WY    501285   10069117                8933   4.98  Industrial
626  2010    US  65772007  971221189              747747   6.77  Industrial

[624 rows x 7 columns]

In [147]:
df

,0,1,10,11,12,13,14,15,16,17,18,19,20,21
0,NaN,NaN,INDUSTRIAL,NaN,NaN,NaN,TRANSPORTATION,NaN,NaN,NaN,TOTAL,NaN,NaN,NaN
1,NaN,NaN,Revenues,Sales,Customers,Price,Revenues,Sales,Customers,Price,Revenues,Sales,Customers,Price
2,Year,STATE,Thousand Dollars,Megawatthours,Count,Cents/kWh,Thousand Dollars,Megawatthours,Count,Cents/kWh,Thousand Dollars,Megawatthours,Count,Cents/kWh
3,2021,AK,223588,1326779,1135,16.85,0,0,0,0,1195132,5969339,349591,20.02
4,2021,AL,2034105,32155730,7233,6.33,0,0,0,0,8713442,85585166,2691639,10.18
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
622,2010,WA,1085311,26632814,27970,4.08,516,6949,6,7.42,6016578,90379970,3206587,6.66
623,2010,WI,1606232,23451807,4496,6.85,0,0,0,0,6723234,68752417,2937600,9.78
624,2010,WV,681014,11622934,12348,5.86,365,4380,1,8.33,2385580,32031803,1017506,7.45
625,2010,WY,501285,10069117,8933,4.98,0,0,0,0,1060618,17113458,326022,6.2
626,2010,US,65772007,971221189,747747,6.77,814346,7712412,239,10.56,368918140,3754841368,144140259,9.83

In [148]:
df.drop([10,11,12,13], axis = 1,inplace=True)

In [149]:
df

,0,1,14,15,16,17,18,19,20,21
0,NaN,NaN,TRANSPORTATION,NaN,NaN,NaN,TOTAL,NaN,NaN,NaN
1,NaN,NaN,Revenues,Sales,Customers,Price,Revenues,Sales,Customers,Price
2,Year,STATE,Thousand Dollars,Megawatthours,Count,Cents/kWh,Thousand Dollars,Megawatthours,Count,Cents/kWh
3,2021,AK,0,0,0,0,1195132,5969339,349591,20.02
4,2021,AL,0,0,0,0,8713442,85585166,2691639,10.18
...,...,...,...,...,...,...,...,...,...,...
622,2010,WA,516,6949,6,7.42,6016578,90379970,3206587,6.66
623,2010,WI,0,0,0,0,6723234,68752417,2937600,9.78
624,2010,WV,365,4380,1,8.33,2385580,32031803,1017506,7.45
625,2010,WY,0,0,0,0,1060618,17113458,326022,6.2
626,2010,US,814346,7712412,239,10.56,368918140,3754841368,144140259,9.83

In [150]:
df_transportation = df.iloc[3:,0:6]

In [151]:
df_transportation

       0   1       14       15   16     17
3    2021  AK       0        0    0      0
4    2021  AL       0        0    0      0
5    2021  AR      28      205    2  13.56
6    2021  AZ     981    10515    2   9.33
7    2021  CA   73215   620799   12  11.79
..    ...  ..     ...      ...  ...    ...
622  2010  WA     516     6949    6   7.42
623  2010  WI       0        0    0      0
624  2010  WV     365     4380    1   8.33
625  2010  WY       0        0    0      0
626  2010  US  814346  7712412  239  10.56

[624 rows x 6 columns]

In [152]:
df_transportation.columns = columns
df_transportation['Sector'] = 'Transportation'
df_transportation

     Year State Revenue    Sales Number of Customers  Price          Sector
3    2021    AK       0        0                   0      0  Transportation
4    2021    AL       0        0                   0      0  Transportation
5    2021    AR      28      205                   2  13.56  Transportation
6    2021    AZ     981    10515                   2   9.33  Transportation
7    2021    CA   73215   620799                  12  11.79  Transportation
..    ...   ...     ...      ...                 ...    ...             ...
622  2010    WA     516     6949                   6   7.42  Transportation
623  2010    WI       0        0                   0      0  Transportation
624  2010    WV     365     4380                   1   8.33  Transportation
625  2010    WY       0        0                   0      0  Transportation
626  2010    US  814346  7712412                 239  10.56  Transportation

[624 rows x 7 columns]

In [153]:
df_energy = pd.concat([df_residential,df_commercial,df_industrial,df_transportation], ignore_index=True)

In [154]:
df_energy.to_csv('mo_final_project', encoding='utf-8',index=False)

In [155]:
dk = pd.read_csv('mo_final_project')

In [156]:
dk

,Year,State,Revenue,Sales,Number of Customers,Price,Sector
0,2021,AK,469886,2083911,292451,22.55,Residential
1,2021,AL,4092368,31585153,2308226,12.96,Residential
2,2021,AR,2131723,18918015,1436246,11.27,Residential
3,2021,AZ,4655903,37130339,2953823,12.54,Residential
4,2021,CA,20604392,90284143,13883994,22.82,Residential
...,...,...,...,...,...,...,...
2491,2010,WA,516,6949,6,7.42,Transportation
2492,2010,WI,0,0,0,0.00,Transportation
2493,2010,WV,365,4380,1,8.33,Transportation
2494,2010,WY,0,0,0,0.00,Transportation
2495,2010,US,814346,7712412,239,10.56,Transportation

In [157]:
dk.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2496 entries, 0 to 2495
Data columns (total 7 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Year                 2496 non-null   int64
 1   State                2496 non-null   object
 2   Revenue              2496 non-null   int64
 3   Sales                2496 non-null   int64
 4   Number of Customers  2496 non-null   int64
 5   Price                2496 non-null   float64
 6   Sector               2496 non-null   object
dtypes: float64(1), int64(4), object(2)
memory usage: 136.6+ KB